<div class="full-width-container">
    <div class="container-return-button">
        <div class="return-button" (click)="navigateToHome()">
            Retour à l'accueil <i class="fa fa-arrow-right"></i>
        </div>
        <div class="container-message">
            <div *ngIf="showSuccessMessage" class="success-message">
            Suppression réussie.
            </div>
            <div *ngIf="showErrorMessage" class="error-message">
                Des managers sont affiliés à cet hôtel. Veuillez les supprimer d'abord.
            </div>
            <div *ngIf="listHotel?.length === 0" class="error-message">
                Aucun hôtel assignés pour cet hôtel manager
            </div>
        </div>
    </div>
    <div class="container-city-list">
        <div class="table-responsive">
            <ng-container>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nom</th>
                            <th scope="col"><button class="btn-list btn-add" *ngIf="isAdmin" (click)="navigateToHotelForm(0)">Ajouter un hôtel <i class="fa fa-plus"></i></button></th>
                        </tr>
                    </thead>
        
                <tbody>
                    <tr *ngFor="let hotel of listHotel">
                        <td>{{hotel.id}}</td>
                        <td>{{hotel.name}}</td>
                        <td><button class="btn-list btn-update" (click)="navigateToHotelForm(hotel.id)">Modifier <i class="fa fa-edit"></i></button></td>
                        <td><button *ngIf="isAdmin" class="btn-list btn-delete" (click)="deleteHotel(hotel.id)">Supprimer <i class="fa fa-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
            </ng-container>
        </div>
    </div>    
</div>
