<nav class="navigation" style="background-color: #0B162C;">
  <div class="title-container">
    <div class="logo-container" (click)="navigateToHome()">
      <img src="assets/logo.png" alt="Logo de Super-Hotel.fr"/>
      <h2><strong>Super-Hôtel</strong></h2>
    </div>
    <div><button class="gestion-btn" (click)="navigateToCitiesList()">Gestion des villes</button></div>
    <div><button class="gestion-btn" (click)="navigateToHotelsList()">Gestion des hôtels</button></div>
  </div>
  <div class="login-container ms-auto">
    <a><strong>Connexion </strong><i class="fa fa-users"></i></a>
  </div>
</nav>
<router-outlet></router-outlet>