.navigation {
    color: white;
    display: flex;
    justify-items: center;
    height: 90px;
    border-bottom: 10px solid #5FC2BA;
}

.title-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.title-container img {
    margin-right: 10px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right: 10px;
}

.gestion-btn {
    border: none;
    margin-left: 50px;
    padding: 8px 16px;
    border: 2px solid white;
    background-color: #D54B1A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gestion-btn:hover {
    transform: scale(1.1);
    background-color: #f98b62;
}